- content_for(:head) do
  %link{:rel => 'stylesheet', :href => '/stylesheets/project.css', :type => 'text/css'}

%h2
  %a{:href => "/projects/#{project.name}"}= project.name
%h3= "Build: #{build.number}"
%strong{:class => project_status(build.status)}= "#{project_status(build.status)}"
%div= build.version
%pre= build.change_list
%pre= build.log

