#all_projects
  - projects.each do |project|
    %p
      %strong= "#{project.name} #{project.status}"
      %a{:class => project.status ? 'passed' : 'failed', :href => "/projects/#{project.name}"}= project.name
      %form{:method => 'post', :action => "/projects/#{project.name}/force"}
        %input{:type => 'submit', :value => 'force build'}
      %pre= h project.build_log
