%p
  %strong= "#{project.name} #{project_status(project.status)}"
  %a{:class => project_status(project.latest_build.status) ? 'passed' : 'failed', :href => "/projects/#{project.name}"}= project.name
  %form{:method => 'post', :action => "/projects/#{project.name}/force"}
    %input{:type => 'submit', :value => 'force build'}
  %pre= project.build_log
  %ul
    - project.builds.each do |build|
      %li= "#{build.number} #{project_status(build.status)}"
