- content_for(:head) do
  = stylesheet_link_tag 'builds'

%h2
  %a{:href => "/projects/#{@project.name}"}= @project.name
%h3.build
  = "Build: #{@build.number}"
  %em.ruby (#{@build.ruby})
%strong{:class => build_status(@build)}= build_status(@build)
- if @build.revision
  %div= "Revision: #{@build.revision.slice(0, 6)}"
%div
  = format_timestamp(@build.timestamp)
%pre= @build.change_list
%pre= @build.log
- unless @build.artefacts.empty?
  %ul
    Build artefacts
    - @build.artefacts.each do |artefact|
      %li= link_to artefact, "/projects/#{@project.name}/builds/#{@build.number}/artefacts/#{artefact}"

