%h2
  %a{:href => "/projects/#{@project.name}"}= @project.name
%h3= "Build: #{@build.number}"
%strong{:class => project_status(@build.status)}= "#{project_status(@build.status)}"
- if @build.revision
  %div= "Revision: #{@build.revision}"
%div
  - format_timestamp(@build.timestamp)
%pre= @build.change_list
%pre= @build.log

