%div.project_heading{:class => "#{build_status(@build)}"}
  %form.force_build{:method => 'post', :action => project_force_path(@project.name)}
    %input{:type => 'submit', :value => force_build_text(@project), :class => 'force_build' }
  %h2.project
    = @project.name
    %em.project_ruby (#{@project.ruby})
    %strong.project_status= "#{build_status(@build)}"
  - unless @build.artefacts.empty?
    %ul
      Build artefacts
      - @build.artefacts.each do |artefact|
        %li= link_to artefact, "/projects/#{@project.name}/builds/#{@build.number}/artefacts/#{artefact}"
  %pre= @build.build_log
