- status = project_status(project.status)
%tr{:class => "project_row #{status}"}

  %td.status_icon
    %img{:src => "/images/#{status}.png", :alt => ''}

  %td.project_name{:class => status}
    %a{:href => "/projects/#{project.name}"}
      %b= project.name

  %td.last_built_at
    = DateTime.now

