- status = project_status(project.latest_build_status)
%tr{:class => "project_row #{status}"}

  %td.status_icon
    %img{:src => "/images/#{status}.png", :alt => project.latest_build_status, :title => status}

  %td.project_name{:class => status}
    %a{:href => "/projects/#{project.name}"}
      %b= project.name

  %td.last_built_at
    - if project.latest_build_timestamp
      = project.latest_build_timestamp.strftime("%a, %Y/%m/%d %I:%M%p %Z")

