- projects.each do |project|
  - status = project_status(project)
  .project-row{:class => status}
    %form.force_build{:method => 'post', :action => project_force_path(project.name)}
      %input{:type => 'submit', :value => "force build#{build_queued?(project) ? ' (build queued)' : ''}"}
    %span.status-icon
      &nbsp;
    %span.project-name{:class => status}
      %a{:href => project_path(project.name)}
        %strong= project.name
        %em.project_ruby (#{project.ruby})
    %span.last-built-at
      - if project.latest_build_timestamp
        = format_timestamp(project.last_complete_build_timestamp)
    - if project.github_url
      %span.github-url
        = link_to "on Github", project.github_url
    - if !project.culprits_for_failure.empty?
      %span.culprit
        = "(Possible culprit(s): #{project.culprits_for_failure})"
