- projects.each do |project|
  - status = project_status(project)
  .project-row{:class => status}
    - if project.building?
      = form_tag build_cancel_path(project.name, project.latest_build.number), :method => :put do
        = submit_tag 'cancel build'
    - else
      = form_tag project_force_path(project.name) do
        = submit_tag force_build_text(project), :class => 'force_build'
    %span.status-icon
      &nbsp;
    %span.project-name{:class => status}
      %a{:href => project_path(project.name), :rel =>"nofollow"}
        %strong= project.name
        %em.project_ruby (#{project.ruby})
    %span.last-built-at
      - if project.latest_build_timestamp
        = format_timestamp(project.last_complete_build_timestamp)
    - if project.github_url
      %span.github-url
        = link_to "on Github", project.github_url
    - if !project.culprits_for_failure.empty?
      %span.culprit
        = "(Possible culprit(s): #{project.culprits_for_failure})"
