- content_for(:head) do
  = stylesheet_link_tag 'home'

#all-projects
  .headings
    %span.status-icon 
    %span.project-name Project Name
    %span.last-built-at Last Built at
    
  - @projects.each do |project|
    - status = project_status(project)
    .project-row{:class => status}
      %span.status-icon
        = project_status_image(status)
      %span.project-name{:class => status}
        %a{:href => project_path(:project_name => project.name)}
          %strong= project.name
          %em.project_ruby (#{project.ruby})
      %span.last-built-at
        - if project.latest_build_timestamp
          = format_timestamp(project.last_complete_build_timestamp)
      %span.force
        %form.force_build{:method => 'post', :action => "/projects/#{project.name}/force"}
          %input{:type => 'submit', :value => 'force build'}
