- content_for(:head) do
  %link{:rel => 'stylesheet', :href => '/stylesheets/dashboard.css', :type => 'text/css'}

%table#all_projects
  %tr.headings
    %td.status_icon 
    %td.project_name Project Name
    %td.last_built_at Last Built at
    %td.total_tests 
    
  - @projects.each do |project|
    - status = project_status(project)
    %tr.project_row{:class => status}

      %td.status_icon
        = project_status_image(status)

      %td{:class => status}
        %a{:href => "/projects/#{project.name}"}
          %strong.project_name= project.name
          %em.project_ruby (#{project.ruby})

      %td.last_built_at
        - if project.latest_build_timestamp
          = project.latest_build_timestamp.strftime("%a, %Y/%m/%d %I:%M%p %Z")

