- content_for(:head) do
  = stylesheet_link_tag 'home'

#all-projects
  .headings
    %span.status-icon 
    %span.project-name Project Name
    %span.last-built-at Last Built at
    
  - @projects.each do |project|
    - status = project_status(project)
    .project-row{:class => status}
      %span.status-icon
        = project_status_image(status)
      %span.project-name{:class => status}
        %a{:href => "/projects/#{project.name}"}
          %strong= project.name
          %em.project_ruby (#{project.ruby})
      %span.last-built-at
        - if project.latest_build_timestamp
          = format_timestamp(project.latest_build_timestamp)
