- content_for(:head) do
  = stylesheet_link_tag 'dashboard'

%table#all_projects
  %tr.headings
    %td.status_icon 
    %td.project_name Project Name
    %td.last_built_at Last Built at
    %td.total_tests 
    
  - @projects.each do |project|
    - status = project_status(project)
    %tr{:class => "project_row #{status}"}

      %td.status_icon
        = project_status_image(status)

      %td.project_name{:class => status}
        %a{:href => "/projects/#{project.name}"}
          %b= project.name

      %td.last_built_at
        - if project.latest_build_timestamp
          = format_timestamp(project.latest_build_timestamp)

