- content_for(:head) do
  = stylesheet_link_tag 'projects'

- @title = "Goldberg - #{@project.name}"

.past-builds
  %h3 Latest Builds
  %ul
    - @project.builds.each do |build|
      %li.build{:class => "#{build_status(build)}#{build == @build ? ' selected' : ''}"}
        = link_to "#{build.number} #{build_status(build)}", project_build_path(@project.name, build.number)
        - if build.revision
          %span.revision= build.revision.slice(0, 6)
        - if build.timestamp
          = format_timestamp(build.timestamp)
        %span.build-pointer
.latest-build{:class => "#{build_status(@build)} clearfix"}
  %div.project_heading
    %form.force_build{:method => 'post', :action => project_force_path(@project.name)}
      %input{:type => 'submit', :value => "force build#{build_queued?(@project) ? ' (build queued)' : ''}"}
    %h2.project
      = @project.name
      %em.project_ruby (#{@project.ruby})
      %strong.project_status= "#{build_status(@build)}"
    - unless @build.artefacts.empty?
      %ul
        Build artefacts
        - @build.artefacts.each do |artefact|
          %li= link_to artefact, "/projects/#{@project.name}/builds/#{@build.number}/artefacts/#{artefact}"
    %pre= @build.build_log
