- content_for(:head) do
  = stylesheet_link_tag 'projects'

.past-builds
  %h3 Older Builds
  %ul
    - @project.builds.each do |build|
      %li.build{:class => build_status(build)}
        %a.name{:href => "/projects/#{@project.name}/builds/#{build.id}"}= "#{build.number} #{build_status(build)}"
        - if build.revision
          %span.revision= build.revision.slice(0, 6)
        - if build.timestamp
          = format_timestamp(build.timestamp)
        %span.build-pointer= build == @project.latest_build ? '=>' : ''
.latest-build{:class => project_status(@project)}
  %p
    %h2.project
      = @project.name
      %em.project_ruby (#{@project.ruby})
    %strong= "#{project_status(@project)}"
    %form{:method => 'post', :action => "/projects/#{@project.name}/force"}
      %input{:type => 'submit', :value => 'force build'}
    %pre= @project.latest_build_log
