- content_for(:head) do
  = stylesheet_link_tag 'projects'
%p
  %h2.project
    = @project.name
    %em.project_ruby (#{@project.ruby})
  %strong{:class => project_status(@project)}= "#{project_status(@project)}"
  %form{:method => 'post', :action => "/projects/#{@project.id}/force"}
    %input{:type => 'submit', :value => 'force build'}
  %pre= @project.latest_build_log
  %ul
    - @project.builds.each do |build|
      %li
        %a{:href => "/projects/#{@project.name}/builds/#{build.id}"}= "#{build.number} #{build_status(build)}"
        - if build.timestamp
          = build.timestamp.strftime("%a, %Y/%m/%d %I:%M%p %Z")
        - if build.revision
          = build.revision
