%html
  %head
    %title= @title || 'Goldberg'
    -# meta tag to prevent robots to follow links for project pages
    %meta{'name' => "robots", :content => "nofollow"}/
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
    = yield :head
  %body
    .wrapper
      .container
        .header
          %h1
            = link_to 'Goldberg', root_path
          %h4 Lightweight Continuous Integration in Ruby

        .page
          = content_for?(:content) ? yield(:content) : yield
      .push
    .footer
      .logo
      .message
        .author
          %a{:href => 'http://c42.in'} C42 Engineering
          Open Source
        .version
          = "Version #{Version::STRING}"
