%html
  %head
    %title= @title || 'Goldberg'
    = javascript_include_tag 'jquery-1.5.min'
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'layout'
    - keep_refreshing = false if Rails.env == 'development'
    - if defined?(keep_refreshing) && keep_refreshing
      :javascript
        $(document).ready(function(){
          setTimeout(function(){ window.location.reload(); }, 15 * 1000)
        });
      %noscript
        %meta{:'http-equiv' => "refresh", :content => "15"}
    = yield :head
  %body
    .wrapper
      .container
        .header
          %h1
            = link_to 'Goldberg', root_path
          %h4 Lightweight Continuous Integration in Ruby

        .page
          = content_for?(:content) ? yield(:content) : yield
      .push
    .footer
      .logo
      .message
        .author
          %a{:href => 'http://c42.in'} C42 Engineering
          Open Source
        .version
          = "Version #{Version::STRING}"
