%html
  %head
    %title Goldberg
    = javascript_include_tag '/js/jquery-1.5.min.js'
    = stylesheet_link_tag '/stylesheets/reset.css'
    = stylesheet_link_tag '/stylesheets/layout.css'
    - keep_refreshing = false if Rails.env == 'development'
    - if defined?(keep_refreshing) && keep_refreshing
      :javascript
        $(document).ready(function(){
          setTimeout(function(){ window.location.reload(); }, 15 * 1000)
        });
      %noscript
        %meta{:'http-equiv' => "refresh", :content => "15"}
    = yield :head
  %body
    .wrapper
      .container
        .header
          .title
            %h1
              %a{:href => '/'} Goldberg
            %h4 Lightweight Continuous Integration in Ruby
            
        .page
          = yield
      .push
    .footer
      .logo
        %a{:href => 'http://c42.in'}
          = image_tag '/images/c42-engineering-logo.png'
      .message
        .author
          %a{:href => 'http://c42.in'} C42 Engineering 
          Open Source
        .version
        = "Version #{VERSION::STRING}"
