- content_for(:head) do
  %meta{'name' => "robots", :content => "noindex"}/

- @title = "Goldberg - #{@project.name}"

- content_for(:content) do
  .past-builds
    %h3 Latest Builds
    %ul
      = pagination_links @project
      - @builds.each do |build|
        %li.build{:class => "#{build_status(build)}#{build == @build ? ' selected' : ''}"}
          = link_to "#{build.number} #{build_status(build)}", project_build_path(@project.name, build.number)
          - if build.revision
            %span.revision= revision_number_text(build)
          - if build.timestamp
            = format_timestamp(build.timestamp)
          %span.build-pointer

  .latest-build.clearfix= yield

= render :file => 'layouts/application'
